//function to convert to rem
@function rem($px) {
    @return #{($px/16)+'rem'};
}

// Background colors
$mainColor: #f8fafc;
$secondaryColor: #e2e8f0;
$sidebarColor: #0ea5e9;
$tabColor: $sidebarColor;
$borderColor: #facc15;

// Text colors
$maintextColor: $secondaryColor;
$secondarytextColor: #000;
$sidebartextColor: #fff;

// Font sizes
$smFont: rem(18);
$mdFont: rem(24);
$largerFont: rem(26);
$lgFont: rem(28);
$xlgFont: rem(46);

// Mixin for breakpoints
$breakpoints-up: ('medium': '40em', 'large': '64em', 'xlarge': '87.5em');
$breakpoints-down: ('small': '39.9375em', 'medium': '63.9375em', 'large': '87.4375em');

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)){
        @content
    }
};
@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content
    }
};



