@use './config' as *;
@use './globals' as *;

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 100px 1fr;
    min-height: 100vh;

    @include breakpoint-up(large) {
        grid-template-columns: 1fr 3fr;
    }
}
.header {
    
    grid-row: 1/2;
}
.nav {
    
    grid-row: 2/3;
    align-self: center;

}
.sidebar {
    
    grid-row: 1/-1;

    @include breakpoint-up(large) {
        grid-column: 1/2;
    }
}
.main {
    
    @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1.25rem;
    }
    grid-row: 3/-1;
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-gap: rem(20);
        grid-auto-rows: 200px;

        @include breakpoint-up(large) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-template-rows: 1fr 1fr 1fr;
            min-height: 68vh;
        }
    }
    .side__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: rem(17);

        @include breakpoint-up(large) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 0;
            max-width: rem(350);
        }
    }
}